<footer class="page-footer">
  <div id="googleMapContainer" class="homepage-google-map">
    <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=4%20rue%20Meslay+(Restaurant%20Le%20Jardin)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="400" frameborder="0">
    </iframe>
  </div>

  <div class="container">
    <a class="navbar-brand animated pulse d-block text-center m-0 p-0 footer-logo-spacing" href="#">
      <img src="media/brand/logo-light.svg" width="50" height="50" alt="Logo">
    </a>
    <div class="row">
      <div class="col-md-4">
        <h5 class="page-footer-title">HEURES D'OUVERTURE</h5>
        <p class="mb-0">Ouvert du Lundi au Vendredi (veuillez appeler pour vérifier l'ouverture les jours fériés)</p>
        <p class="mb-0">Déjeuner: 12h - 14h</p>
        <p>Diner: 19h - 22h</p>
      </div>
      <div class="col-md-4 h-100 border-left-custom">
        <h5 class="page-footer-title mt-3 mt-md-0">LOCALISATION</h5>
        <address>
          Restaurant Chinois Le Jardin<br>
          4 rue Meslay<br>
          75003 Paris<br>
          <abbr title="Phone">T :</abbr> (+33) 01 48 87 89 71<br>
          <abbr title="Email">E :</abbr> restaurantchinoislejardin@gmail.com
        </address>
      </div>
      <div class="col-md-4 h-100 border-left-custom">
        <h5 class="page-footer-title mt-3 mt-md-0">SUIVEZ-NOUS</h5>
        <div class="mb-3">
          <a class="footer-social" href="https://www.facebook.com/restaurantchinois.lejardin/" aria-label="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a class="footer-social" href="https://www.tripadvisor.com/Restaurant_Review-g187147-d1957719-Reviews-Restaurant_chinois_Le_Jardin-Paris_Ile_de_France.html" aria-label="tripadvisor"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
          <a class="footer-social" href="https://restaurantchinois-lejardin.business.site/" aria-label="google"><i class="fa fa-google" aria-hidden="true"></i></a>
        </div>
        
        <link href="https://awards.infcdn.net/2024/circle_v2.css" rel="stylesheet"/><div id="circle-r-ribbon" onclick="if(event.target.nodeName.toLowerCase() != 'a') {window.open(this.querySelector('.r-ribbon_title').href);return 0;}" class=""> 
          <div class="r-ribbon_ahead "> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="160px" height="160px" viewBox="0 0 160 160"> <defs> <path id="heading-arc" d="M 30 80 a 50 50 0 1 1 100 0"></path> </defs> 
            <text class="r-ribbon_ahead-heading " fill="#000" text-anchor="middle"> <textPath startOffset="50%" xlink:href="#heading-arc">Recommandé</textPath> </text> </svg> </div> <p class="r-ribbon_year">2025</p> <a href="https://fr.restaurantguru.com/Le-Jardin-Paris-2" class="r-ribbon_title f9" target="_blank">Restaurant chinois Le Jardin</a> 
        <div class="r-ribbon_ahead r-ribbon_ahead-bottom"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120px" height="120px" viewBox="0 0 120 120"> <defs> 
          <path id="subheading-arc" d="M 12 60 a 48 48 0 0 0 96 0"></path> </defs> <text class="r-ribbon_ahead-subh" fill="#000" text-anchor="middle"> 
            <textPath startOffset="50%" xlink:href="#subheading-arc"><a href="https://restaurantguru.com" target="_blank">Restaurant Guru</a></textPath> </text> </svg> </div></div>
      </div>
    </div>
  </div>
  <div class="page-footer-copyright container-fluid text-center">
    © 2019 Marios Sofokleous (<a href="https://pictureelement.github.io/portfolio-2/">PictureElement</a>).<br>
    Design by <a href="https://github.com/catherning">Catherning</a> (Catherine Xu).
  </div>
</footer>