---
---
<!doctype html>
<html lang="{{ page.lang | default: 'fr' }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Restaurant Chinois Le Jardin</title>
    <!-- Web app manifest -->
    <link rel='manifest' href='manifest.json'>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    {% include css.html %}
  </head>
  <body id="top">

    {% assign lang_param = page.lang %}
    {% if request.query.lang %}
      {% assign lang_param = request.query.lang %}
    {% endif %}
    {% include header.html lang=lang_param %}
    <main class="about-main">
      <div class="jumbotron about-jumbotron dark-overlay text-white">
        <img
          sizes="(max-width: 2560px) 100vw, 2560px"
          srcset="
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_300/location/front.jpg 300w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_500/location/front.jpg 500w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_700/location/front.jpg 700w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_900/location/front.jpg 900w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_1100/location/front.jpg 1100w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_1200/location/front.jpg 1200w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_1400/location/front.jpg 1400w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_1500/location/front.jpg 1500w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_1700/location/front.jpg 1700w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_1800/location/front.jpg 1800w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_1900/location/front.jpg 1900w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_2100/location/front.jpg 2100w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_2200/location/front.jpg 2200w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_2300/location/front.jpg 2300w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_2500/location/front.jpg 2500w,
          https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_2500/location/front.jpg 2500w"
        src="https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_2500/location/front.jpg"
          alt=""
          class="about-jumbotron-bg">
        <div class="about-jumbotron-caption">
          <h1 id="title-1" class="special-title-1">{{ site.data.translations[page.lang].about.title }}</h1>
          <h2 id="title-2" class="special-title-2">{{ site.data.translations[page.lang].about.subtitle }}</h2>
          <a class="about-arrow animated bounce smooth-scroll" href="#about-history" aria-label="our history"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
      </div>
      <!-- DIRECTIONS -->
      <div class="contact-directions container">
        <h1 id="title-1-directions" class="special-title-1">{{ site.data.translations[page.lang].about.directions_title }}</h1>
        <h2 id="title-2-directions" class="special-title-2">{{ site.data.translations[page.lang].about.directions_subtitle }}</h2>
        <address>{{ site.data.translations[page.lang].restaurant_name }}<br>
          4 rue Meslay<br>
          75003 Paris<br>
        </address>
        <br>
        <dl id="description" class="mb-0">
          <dt>{{ site.data.translations[page.lang].about.directions_from_republique_title }}</dt>
          <dd class="mb-0">
            {{ site.data.translations[page.lang].about.directions_from_republique_desc }}
          </dd>
          <br>
          <div class="row">
            <div class="col-md-5">{{ site.data.translations[page.lang].about.metro_station }}</div>
            <div class="col-md-5">{{ site.data.translations[page.lang].about.bus_station }}</div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <img src="{{ site.baseurl }}/media/transport/M3genRVB.svg" width="30" height="30" alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/M5genRVB.svg" width="30" height="30" alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/M8genRVB.svg" width="30" height="30" alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/M9genRVB.svg" width="30" height="30" alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/M11genRVB.svg" width="30" height="30" alt="Logo">
            </div>
            <div class="col-md-5">
              <img src="{{ site.baseurl }}/media/transport/20genRVB.svg" width="30"alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/56genRVB.svg" width="30"alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/75genRVB.svg" width="30"alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/91genRVB.svg" width="30"alt="Logo">
              <br>
              <img src="{{ site.baseurl }}/media/transport/Noct-01-genRVB.svg" width="30"alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/Noct-02-genRVB.svg" width="30"alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/Noct-12-genRVB.svg" width="30"alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/Noct-23-genRVB.svg" width="30"alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/Noct-141-genRVB.svg" width="30"alt="Logo">
              <img src="{{ site.baseurl }}/media/transport/Noct-142-genRVB.svg" width="30"alt="Logo">
            </div>
          </div>
        </dl>
        <hr>
      </div>
      <div id="about-history" class="container about-history">
        <div class="row d-flex align-items-center">
          <div class="col-md-4 about-history-title">
            <h3>{{ site.data.translations[page.lang].about.history_title }}</h3>
          </div>
          <div id="history-description" class="col-md-8">
            <p>{{ site.data.translations[page.lang].about.history_paragraph1 }}</p>
            <p>{{ site.data.translations[page.lang].about.history_paragraph2 }}</p>
            <div class="gallery-item">
                <img class="img-fluid rounded box-shadow border" src="{{ site.baseurl }}/media/Ecogestes.jpg" alt="Ecogestes">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <p><small>
          {{ site.data.translations[page.lang].about.site_notice }}
        </small></p>
      </div>
      <!-- Page-specific content from markdown files -->
      <div class="container about-content">
        {{ content }}
      </div>
    </main>
    {% include footer.html lang=lang_param  %}
    <a id="back-to-top" class="back-to-top smooth-scroll" href="#top">
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </a>
    <script src="{{ site.baseurl }}/js/render-header-footer.js"></script>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
      crossorigin="anonymous">
    </script>
    <script src="{{ site.baseurl }}/js/site.js"></script>
    <script src="{{ site.baseurl }}/js/about-animations.js"></script>
  </body>
</html>
