<!doctype html>
<html lang="{{ page.lang | default: site.default_lang | default: 'fr' }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Restaurant Chinois Le Jardin</title>
    <!-- Web app manifest -->
    <link rel='manifest' href='{{ site.baseurl }}/manifest.json'>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    {% include css.html %}
  </head>
  <body id="{{ page.id | default: 'menu' }}">

    {% include header.html %}

    <!-- Template: Jumbotron with menu icons -->
    <template id="jumbotron-template" data-default-bg="https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto,w_2500/v1609326356/Autres/bamboo2_iaabt7.jpg" data-default-srcset-base="https://res.cloudinary.com/lejardin/image/upload/c_scale,f_auto,q_auto" data-default-srcset-id="v1609326356/Autres/bamboo2_iaabt7.jpg" data-default-srcset-widths="300,400,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000,2100,2200,2300,2400,2500">
      <div class="food-jumbotron dark-overlay text-white">
        <img class="food-jumbotron-bg section-bg-cover" alt="">
        <div class="food-jumbotron-caption container">
          <h1 id="title-1" class="special-title-2 animate-on-scroll" data-animate="fadeInDown"></h1>
          <div id="menu-icons" class="animate-on-scroll" data-animate="fadeInUp"></div>
        </div>
      </div>
    </template>

    <!-- Template: Menu icon item -->
    <template id="menu-icon-template">
      <div class="col">
        <a class="smooth-scroll">
          <img class="menu-icon" alt="">
          <h6 class="menu-icon-text mt-3 mb-0"></h6>
        </a>
      </div>
    </template>

    <!-- Template: Food title row -->
    <template id="food-title-template">
      <h3>
        <span class="food-name"></span>
        <span class="food-price"></span>
      </h3>
    </template>

    <!-- Template: Food item row shell -->
    <template id="food-item-template">
      <div class="row align-items-center menu-item animate-on-scroll" data-animate="fadeInUp"></div>
    </template>

    <!-- Template: Subcategory section shell -->
    <template id="food-subcategory-template">
      <div class="food-subcategory">
        <h2 class="banner subcategory-title"></h2>
        <hr class="food-horizontal-rule">
      </div>
    </template>

    <!-- Template: Category section shell -->
    <template id="food-category-template">
      <div class="food-category">
        <p class="category-description"></p>
      </div>
    </template>

    <!-- Template: Category special title block -->
    <template id="category-special-title-template">
      <div>
        <hr class="food-horizontal-separation">
        <h2 class="special-title-3"></h2>
      </div>
    </template>

    <main>
      <div id="jumbotron-placeholder"></div>

      <!-- FOOD: DESCRIPTIONS -->
      <div class="food-descriptions container">
        <div
          id="food-container"
          data-json="data/{{ page.id | default: 'menu' }}-data.json"
          data-google-sheet-url="{{ site.data.google_sheets[page.id] | default: '' }}"
        >
          <!-- Dynamic food data will be rendered here -->
        </div>

        {% if page.show_legend %}
        <div class="logo-index" id="menu-legend">
          <h3 class="special-title-1">{{ site.data.translations[page.lang].menuLegend.title }}</h3>
          <ul>
            <li>
              <img src="{{ site.baseurl }}/media/vg.png" alt="Vegan" class="vegan-logo" title="This dish is completely vegan.">
              {{ site.data.translations[page.lang].menuLegend.vegan }}
            </li>
            <li>
              <img src="{{ site.baseurl }}/media/vg_pos.png" alt="Vegan Possible" class="vegan-logo" title="This dish can be made vegan upon request.">
              {{ site.data.translations[page.lang].menuLegend.vegan_possible }}
            </li>
          </ul>
        </div>
        {% endif %}

        <h3 class="special-title-1">{{ site.data.translations[page.lang].menuLegend.priceNote }}</h3>

        <div class="row-centered end-menu">
          {% assign menu_pages = site.data.menu_navigation | where: 'group', 'Menu' | sort: 'order' %}
          {% for menu_item in menu_pages %}
            {% unless menu_item.page == page.id %}
              {% assign lang_prefix = '' %}
              {% if page.lang and page.lang != 'fr' %}
                {% assign lang_prefix = '/' | append: page.lang | append : '/' %}
              {% endif %}
              {% assign item_url = site.baseurl | append: lang_prefix | append: menu_item.page | append: '.html' %}
              {% assign item_title = menu_item.title[page.lang] %}
              <a class="btn btn-outline-dark" href="{{ item_url | replace: '//', '/' }}" role="button">{{ item_title }}</a>
            {% endunless %}
          {% endfor %}
          <br>
        </div>

      </div>

      
    </main>

    {% include footer.html%}

    <a id="back-to-top" class="back-to-top smooth-scroll" href="#top">
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </a>
    <!-- lazySizes -->
    <script src="{{ site.baseurl }}/js/lazysizes.min.js" async=""></script>
    <script>
      window.menuNavigationData = {{ site.data.menu_navigation | jsonify }};
    </script>
    <script src="{{ site.baseurl }}/js/render-food.js"></script>
    <script src="{{ site.baseurl }}/js/render-header-footer.js"></script>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
      crossorigin="anonymous">
    </script>
    <script src="{{ site.baseurl }}/js/site.js"></script>
    <script src="{{ site.baseurl }}/js/animations.js"></script>
  </body>
</html>