---
lang: "en"
---
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chinese Restaurant Le Jardin</title>
  <!-- Web app manifest -->
  <link rel='manifest' href='../manifest.json'>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
  {% include css.html %}
</head>

<body id="top">
  {% include header.html %}
  <main>
    <!-- English content will go here -->
    <h1>Welcome to Chinese Restaurant Le Jardin</h1>
    <p>English version of the homepage coming soon...</p>
  </main>
  {% include footer.html %}
</body>
</html>