---
---
<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Restaurant Chinois Le Jardin - </title>
    <!-- Web app manifest -->
    <link rel='manifest' href='manifest.json'>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    {% include css.html %}
  </head>

<body id="top">
  {% include header.html %}
  <main>

    <!-- ALBUM DESCRIPTION -->
    <div class="album-description container-fluid text-white">
      <h1 id="title-1" class="special-title-1">ALBUM</h1>
      <h2 id="title-2" class="special-title-2">Découvrez notre restaurant avec cet album photo</h2>
    </div>

    <!-- ALBUM CONTENT -->
    <div class="album-content">
      <div class="container">
        <div class="row">
          <div id="card-food" class="col-md-4">
            <div class="card box-shadow">
              <img class="card-img-top"
                src="https://res.cloudinary.com/lejardin/image/upload/c_fill,h_200,q_auto:best,w_300/v1608405084/Entrees/11_oc07di.png"
                alt="Entree image">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">ENTREES et PLATS</h5>
                <a href="gallery-food.html" class="btn btn-outline-dark" role="button">Voir</a>
              </div>
            </div>
          </div>
          <div id="card-desserts" class="col-md-4">
            <div class="card box-shadow">
              <img class="card-img-top"
                src="https://res.cloudinary.com/lejardin/image/upload/c_fill,h_200,q_auto:best,w_300/v1609619308/desserts/assortiment_maison_t7heqj.jpg"
                alt="Food image">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">DESSERTS et BOISSONS</h5>
                <a href="gallery-desserts.html" class="btn btn-outline-dark" role="button">Voir</a>
              </div>
            </div>
          </div>
          <div id="card-location" class="col-md-4">
            <div class="card box-shadow">
              <img class="card-img-top"
                src="https://res.cloudinary.com/lejardin/image/upload/c_fill,h_200,q_auto:best,w_300/v1609338864/Location/2017-09-06_19.08.35_wdow9g.jpg"
                alt="Dessert image">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">LIEU</h5>
                <a href="gallery-location.html" class="btn btn-outline-dark" role="button">Voir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

{% include footer.html %}
  <a id="back-to-top" class="back-to-top smooth-scroll" href="#top">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
  </a>
  <script src="js/render-header-footer.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
  </script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="js/site.js"></script>
  <script src="js/album-animations.js"></script>
</body>

</html>